# Quiz 6

## Julianna Chavez

### Question 1

##### Part 1: 3 x 8

In [1]:
3 * 8

24

##### To solve for Part 1, the star symbol "*" was used to indicate multiplication, and generate a calculation.

##### Part 2: (33 + 7)/5

In [2]:
(33+7)/5

8.0

#### To solve for Part 2, parenthesis were placed around 33 and 7, to group them as their own equation and to clarify that the sum of 33 and 7 is what would be divided by 5. The plus symbol "+" was used to indicate addition and the forward slash symbol "/" was used to indicate a division calculation.

### Question 2

#### Determine the data type and output of 1+2. and 1+2

In [3]:
1+2.

3.0

In [4]:
1+2

3

#### By adding a period at the end of the equation, 1+2. will produce an answer in decimal form, known in Python as a floating integer. Without a period at the end, Python will answer the euqation with a standard integer solution.

### Question 3

In [5]:
for n in range (1,6):
    print (n**2)

1
4
9
16
25

#### To generate a loop with number 1-5, we set the range values in the parenthesis to be 1 through 6 (one number above the range we want) since Python produces ranges between our lowest value and one digit below the highest value. A "for loop" is used to loop over the ten values, and the print function is used to make Python order the output of data in a printed, listed and ordered way.

### Question 4

In [6]:
i = 1
while i**2 < 1000:
    i +=1
    print (i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

#### Since a loop terminates when the condition returns a False value, 32 being the end value produced indicates that it is the False value, and that therefore i= 31 is the final value that, when squared, is less than 1000. 31^2 = 961, and 32^2 = 1024.