# Lecture 9 Quiz

## Julianna Chavez

## Question 1:

### To import the pandas packages, execute the following code:

In [2]:
import pandas as pd

## Question 2:

### To read a CSV fiile in pandas, the 'pandas.read_csv' function is used.

## Question 3:

### To display the first 5 rows of a DataFrame in pandas, the function 'df.head(5)' is used.

## Question 4:

### To calculate the mean of a column named Age in a DataFrame named df, the function 'df['Age'].mean()' is used.

## Question 5:

### To  calculate the median of a column named Salary in a DataFrame named df, the median function can be executed 'df['Salary'].median()

## Question 6:

### The 'std' function can be used to calculate the standard deviation of 'Score':
df['Score'].std()

## Question 7:

### To find the number of missing values in each column of a DataFrame named df, the 'isna' and 'sum' functions are executed:
df.isna().sum()

## Question 8:

### To find the correlation, tne 'corr' function is executed:
df['Age'].corr(df['Salary'])

## Question 9:

### To select a subset of a DataFrame df where the column Age is greater than 30, a new subset must be created:
df[df['Age'] > 30]

## Question 10:

### To calculate the range of a column named Score in a DataFrame named df, subtract the minimum from the maximum:
df['Score'].max() - df['Score'].min()

## Question 11:

### To group a DataFrame df by a column named Department and calculate the mean of Salary within each group, execute the following code:
df.groupby('Department')['Salary'].mean()

## Question 12:

### To group  a DataFrame df by two columns, Department and Job Title, and count the number of rows within each group, the 'groupby' function is executed followed by the 'size' function:
df.groupby(['Department', 'Job Title']).size()

## Question 13:

### To use the goupby method, first group df with 'Department', then the 'max' function is paired with 'Age'
df.groupby('Department')['Age'].max()

## Question 14:

### To create a cross-tabulation table that shows the frequency count of Department (rows) and Job Title (columns) in a DataFrame df, the following code is executed:
pd.crosstab(df['Department'], df['Job Title'])

## Question 15:

### To create a cross-tabulation table that shows the mean Salary for each combination of Department (rows) and Job Title (columns) in a DataFrame df, the crosstab function is used again along with the use of the 'aggfunc' function:
pd.crosstab(df['Department'], df['Job Title'], values=df['Salary'], aggfunc='mean')